.cabecalho {
    background-color: #09091b;
    text-align: center;
    width: 100%;
}
.cabecalho img {
    max-width: 100%;
}

@media (max-width: 680px) {
    .cabecalho {
        display: none;
    }
}